body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.tonmoy-color {
    color: orange;
}
section {
    display:flex;
    margin-bottom: 150px;
}
.width-div {
    width: 50%;
    padding-left: 5%;
}
.width-div img{
    width: 80%;
}
.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 204, 110), tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.first-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-section{
    display: flex;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}